bin
*.launch
.settings
.metadata
.classpath
.project
out
*.ipr
*.iws
*.iml
.idea
build
.gradle
*.tmp
*.log
*.jks
eclipse
run
tests
/dist
signing.*
src/main/java/archive
src/generated
.vscode
/classes
/dev
/tmp
/archive
desktop.ini
.DS_Store
Thumbs.db
